.active {
  background-color: rgba(0, 0, 0, 0.1);
  color: red;
}

.nav {
  display: flex;
  align-items: center;
  gap: 12px;
  border: 1px;
  padding: 0 20px;
}
.link {
  font-size: 25px;
  border-radius: 10px;
  padding: 10px;
}