.contactList {
display: flex;
gap: 15px;
flex-wrap: wrap;
}
      
.form {
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    margin-bottom: 30px;
  }
  .label {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .formInput {
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 20px;
  }
  
  .errorText {
    font-size: 16px;
    color: red;
    border-radius: 5px;
    display: inline-block;
    padding: 5px;
  }