/* .contactList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(412px,1fr));
  gap: 10px;
  padding: 0;
  width: 100%;
  margin: 0 auto;
}
       */
.contactList {
display: flex;
gap: 15px;
flex-wrap: wrap;
}
      
